In [1]:
import pandas as pd

pd.set_option('display.max_rows', 500)

ing = pd.read_csv("ingredients_metadata.csv")

In [2]:
cafe1 = pd.read_fwf('dish_metadata_cafe1.csv', header=None)
cafe1 = cafe1[0].str.split(',', expand=True)
cafe1.head()

,0,1,2,3,4,5,6,7,8,9,...,185,186,187,188,189,190,191,192,193,194
0,dish_1561662216,300.794281,193.000000,12.387489,28.218290,18.633970,ingr_0000000508,soy sauce,3.398568,1.80124104,...,None,None,None,None,None,None,None,None,None,None
1,dish_1562688426,137.569992,88.000000,8.256000,5.190000,10.297000,ingr_0000000433,roasted potatoes,17.000000,23.97,...,None,None,None,None,None,None,None,None,None,None
2,dish_1561662054,419.438782,292.000000,23.838249,26.351543,25.910593,ingr_0000000312,pepper,0.300716,0.1202864,...,None,None,None,None,None,None,None,None,None,None
3,dish_1562008979,382.936646,290.000000,22.224644,10.173570,35.345387,ingr_0000000448,jalapenos,0.192961,0.05595869,...,None,None,None,None,None,None,None,None,None,None
4,dish_1560455030,20.590000,103.000000,0.148000,4.625000,0.956000,ingr_0000000471,cherry tomatoes,55.000000,9.9,...,None,None,None,None,None,None,None,None,None,None

In [3]:
cafe2 = pd.read_fwf('dish_metadata_cafe2.csv', header=None)
cafe2 = cafe2[0].str.split(',', expand=True)
cafe2.head()

,0,1,2,3,4,5,6,7,8,9,...,136,137,138,139,140,141,142,143,144,145
0,dish_1572974428,0.000000,74.000000,0.000000,0.000000,0.000000,ingr_0000000032,tomatoes,15.572240,5.2945616,...,None,None,None,None,None,None,None,None,None,None
1,dish_1572464692,0.000000,56.000000,0.000000,0.000000,0.000000,ingr_0000000442,hummus,56.000000,92.96,...,None,None,None,None,None,None,None,None,None,None
2,dish_1571931594,0.000000,66.000000,0.000000,0.000000,0.000000,ingr_0000000433,roasted potatoes,66.000000,93.06,...,None,None,None,None,None,None,None,None,None,None
3,dish_1575478635,0.000000,132.000000,0.000000,0.000000,0.000000,ingr_0000000008,scrambled eggs,132.000000,195.36,...,None,None,None,None,None,None,None,None,None,None
4,dish_1572887017,0.000000,274.000000,0.000000,0.000000,0.000000,ingr_0000000015,hash browns,43.000000,140.18,...,None,None,None,None,None,None,None,None,None,None

In [4]:
nineteenth_row = cafe2.iloc[1]  # Note: Python uses zero-based indexing, so the 19th row is indexed as 18

print(nineteenth_row)

0      dish_1572464692
1             0.000000
2            56.000000
3             0.000000
4             0.000000
5             0.000000
6      ingr_0000000442
7               hummus
8            56.000000
9                92.96
10               5.376
11                7.84
12               4.424
13                None
14                None
15                None
16                None
17                None
18                None
19                None
20                None
21                None
22                None
23                None
24                None
25                None
26                None
27                None
28                None
29                None
30                None
31                None
32                None
33                None
34                None
35                None
36                None
37                None
38                None
39                None
40                None
41                None
42                None
43                None
44                None
45                None
46                None
47                None
48                None
49                None
50                None
51                None
52                None
53                None
54                None
55                None
56                None
57                None
58                None
59                None
60                None
61                None
62                None
63                None
64                None
65                None
66                None
67                None
68                None
69                None
70                None
71                None
72                None
73                None
74                None
75                None
76                None
77                None
78                None
79                None
80                None
81                None
82                None
83                None
84                None
85                None
86                None
87                None
88                None
89                None
90                None
91                None
92                None
93                None
94                None
95                None
96                None
97                None
98                None
99                None
100               None
101               None
102               None
103               None
104               None
105               None
106               None
107               None
108               None
109               None
110               None
111               None
112               None
113               None
114               None
115               None
116               None
117               None
118               None
119               None
120               None
121               None
122               None
123               None
124               None
125               None
126               None
127               None
128               None
129               None
130               None
131               None
132               None
133               None
134               None
135               None
136               None
137               None
138               None
139               None
140               None
141               None
142               None
143               None
144               None
145               None
Name: 1, dtype: object

In [5]:
nineteenth_row = ing.iloc[441]  # Note: Python uses zero-based indexing, so the 19th row is indexed as 18

print(nineteenth_row)

ingr          hummus
id               442
cal/g           1.66
fat(g)         0.096
carb(g)         0.14
protein(g)     0.079
Name: 441, dtype: object

In [6]:
"""
cafe 1 iÃ§in 

ilki dish id
sonra toplam calori
dishin toplam gramÄ±
toplam yaÄŸ
toplam carb
toplam protein


cafe 2 iÃ§in 

ilki dish id
sonra dishin adÄ± yok 0
dishin toplam gramÄ±
sonraki yaÄŸ yok 0
sonraki carb yok 0
sonraki pro yok 0


cafe 1 ve 2 iÃ§in

ing_001 mesela onun varlÄ±ÄŸÄ±
var olan gÄ±danÄ±n adÄ±
gÄ±danÄ±n gramÄ±
toplam kallorisi
toplam yaÄŸÄ±
toplam carb
toplam proteini diye gidiyor

"""

'\ncafe 1 iÃ§in \n\nilki dish id\nsonra toplam calori\ndishin toplam gramÄ±\ntoplam yaÄŸ\ntoplam carb\ntoplam protein\n\n\ncafe 2 iÃ§in \n\nilki dish id\nsonra dishin adÄ± yok 0\ndishin toplam gramÄ±\nsonraki yaÄŸ yok 0\nsonraki carb yok 0\nsonraki pro yok 0\n\n\ncafe 1 ve 2 iÃ§in\n\ning_001 mesela onun varlÄ±ÄŸÄ±\nvar olan gÄ±danÄ±n adÄ±\ngÄ±danÄ±n gramÄ±\ntoplam kallorisi\ntoplam yaÄŸÄ±\ntoplam carb\ntoplam proteini diye gidiyor\n\n'

In [7]:
# Burda da cafe2deki boÅŸ yerleri doldurdum

In [8]:
import csv
import re

# Function to update a single row
def update_row(row):
    # Split the row into individual elements
    elements = row.split(',')
    
    # Initialize variables to store summed values
    sum_2nd_column = 0
    sum_3rd_column = 0
    sum_4th_column = 0
    sum_5th_column = 0
    
    # Iterate through the elements
    for i, element in enumerate(elements):
        # Check if the element starts with "ingr"
        if re.match(r'^ingr', element):
            # If so, add its corresponding value to the respective sum
            sum_2nd_column += float(elements[i + 3])
            sum_3rd_column += float(elements[i + 4])
            sum_4th_column += float(elements[i + 5])
            sum_5th_column += float(elements[i + 6])
    
    # Update the values in the row
    elements[1] = str(sum_2nd_column)
    elements[3] = str(sum_3rd_column)
    elements[4] = str(sum_4th_column)
    elements[5] = str(sum_5th_column)
    
    # Construct the new row
    new_row = ','.join(elements)
    
    return new_row

# Function to update the entire CSV file
def update_csv(input_file, output_file):
    with open(input_file, 'r') as infile, open(output_file, 'w', newline='') as outfile:
        reader = csv.reader(infile)
        writer = csv.writer(outfile)
        
        # Iterate through each row in the input file
        for row in reader:
            # If the row is not empty, update it and write to the output file
            if row:
                updated_row = update_row(','.join(row))
                writer.writerow(updated_row.split(','))

# Example usage
update_csv('dish_metadata_cafe2.csv', 'output.csv')

In [9]:
import pandas as pd

# Specify the column names
column_names = [
    "dish_id",
    "total_calories",
    "total_mass",
    "total_fat",
    "total_carb",
    "total_protein",
]

# Add column names for ingredients
for i in range(1, 30):
    column_names.extend([
        f"ingr_{i}_id",
        f"ingr_{i}_name",
        f"ingr_{i}_grams",
        f"ingr_{i}_calories",
        f"ingr_{i}_fat",
        f"ingr_{i}_carb",
        f"ingr_{i}_protein",
    ])

# Read the CSV file with the specified column names
df = pd.read_csv(
    "dish_metadata_cafe2.csv",
    header=None,
    names=column_names,
)

df.head()

,dish_id,total_calories,total_mass,total_fat,total_carb,total_protein,ingr_1_id,ingr_1_name,ingr_1_grams,ingr_1_calories,...,ingr_28_fat,ingr_28_carb,ingr_28_protein,ingr_29_id,ingr_29_name,ingr_29_grams,ingr_29_calories,ingr_29_fat,ingr_29_carb,ingr_29_protein
0,dish_1572974428,0.0,74.0,0.0,0.0,0.0,ingr_0000000032,tomatoes,15.57224,5.294562,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,dish_1572464692,0.0,56.0,0.0,0.0,0.0,ingr_0000000442,hummus,56.00000,92.960000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,dish_1571931594,0.0,66.0,0.0,0.0,0.0,ingr_0000000433,roasted potatoes,66.00000,93.060000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,dish_1575478635,0.0,132.0,0.0,0.0,0.0,ingr_0000000008,scrambled eggs,132.00000,195.360000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,dish_1572887017,0.0,274.0,0.0,0.0,0.0,ingr_0000000015,hash browns,43.00000,140.180000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
import pandas as pd

# Specify the column names
column_names = [
    "dish_id",
    "total_calories",
    "total_mass",
    "total_fat",
    "total_carb",
    "total_protein",
]

# Add column names for ingredients
for i in range(1, 50):
    column_names.extend([
        f"ingr_{i}_id",
        f"ingr_{i}_name",
        f"ingr_{i}_grams",
        f"ingr_{i}_calories",
        f"ingr_{i}_fat",
        f"ingr_{i}_carb",
        f"ingr_{i}_protein",
    ])

# Read the CSV file with the specified column names
df2 = pd.read_csv(
    "dish_metadata_cafe1.csv",
    header=None,
    names=column_names,
)

df2.head()

C:\Users\Beyza\AppData\Local\Temp\ipykernel_16728\56350133.py:26: DtypeWarning: Columns (230,231,237,238) have mixed types. Specify dtype option on import or set low_memory=False.
  df2 = pd.read_csv(

,dish_id,total_calories,total_mass,total_fat,total_carb,total_protein,ingr_1_id,ingr_1_name,ingr_1_grams,ingr_1_calories,...,ingr_48_fat,ingr_48_carb,ingr_48_protein,ingr_49_id,ingr_49_name,ingr_49_grams,ingr_49_calories,ingr_49_fat,ingr_49_carb,ingr_49_protein
0,dish_1561662216,300.794281,193.0,12.387489,28.218290,18.633970,ingr_0000000508,soy sauce,3.398568,1.801241,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,dish_1562688426,137.569992,88.0,8.256000,5.190000,10.297000,ingr_0000000433,roasted potatoes,17.000000,23.970000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,dish_1561662054,419.438782,292.0,23.838249,26.351543,25.910593,ingr_0000000312,pepper,0.300716,0.120286,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,dish_1562008979,382.936646,290.0,22.224644,10.173570,35.345387,ingr_0000000448,jalapenos,0.192961,0.055959,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,dish_1560455030,20.590000,103.0,0.148000,4.625000,0.956000,ingr_0000000471,cherry tomatoes,55.000000,9.900000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
# Assuming cafe2 is your DataFrame
# Save the DataFrame to a CSV file
df.to_csv('cafe2_updated.csv', index=False)

In [12]:
# Assuming cafe2 is your DataFrame
# Save the DataFrame to a CSV file
df2.to_csv('cafe1_updated.csv', index=False)

In [13]:
c1 = pd.read_csv("cafe1_updated.csv")
c2 = pd.read_csv("cafe2_updated.csv")

C:\Users\Beyza\AppData\Local\Temp\ipykernel_16728\1283178174.py:1: DtypeWarning: Columns (230,231,237,238) have mixed types. Specify dtype option on import or set low_memory=False.
  c1 = pd.read_csv("cafe1_updated.csv")

In [15]:
c2.head()

,dish_id,total_calories,total_mass,total_fat,total_carb,total_protein,ingr_1_id,ingr_1_name,ingr_1_grams,ingr_1_calories,...,ingr_28_fat,ingr_28_carb,ingr_28_protein,ingr_29_id,ingr_29_name,ingr_29_grams,ingr_29_calories,ingr_29_fat,ingr_29_carb,ingr_29_protein
0,dish_1572974428,0.0,74.0,0.0,0.0,0.0,ingr_0000000032,tomatoes,15.57224,5.294562,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,dish_1572464692,0.0,56.0,0.0,0.0,0.0,ingr_0000000442,hummus,56.00000,92.960000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,dish_1571931594,0.0,66.0,0.0,0.0,0.0,ingr_0000000433,roasted potatoes,66.00000,93.060000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,dish_1575478635,0.0,132.0,0.0,0.0,0.0,ingr_0000000008,scrambled eggs,132.00000,195.360000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,dish_1572887017,0.0,274.0,0.0,0.0,0.0,ingr_0000000015,hash browns,43.00000,140.180000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN